<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title style="display: none">100 Cuervos Dijeron</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
<h1>100 Cuervos Dijeron</h1>
<!-- From Uiverse.io by dopekid_9309 -->
<div class="comic-brutal-button-container">
    <button class="comic-brutal-button" id="host">
        <div class="button-inner">
            <span class="button-text">Presentador</span>
            <div class="halftone-overlay"></div>
            <div class="ink-splatter"></div>
        </div>
        <div class="button-shadow"></div>
        <div class="button-frame"></div>
    </button>
    <button class="comic-brutal-button" id="audience">
        <div class="button-inner">
            <span class="button-text">Espectador</span>
            <div class="halftone-overlay"></div>
            <div class="ink-splatter"></div>
        </div>
        <div class="button-shadow"></div>
        <div class="button-frame"></div>
    </button>
</div>
<script src="/js/home.js" type="module"></script>
</body>
</html>